wheel

argon2-cffi
passlib
authlib
psycopg2
pyjwt
redis
lxml
pyyaml
user-agents
python-magic
pillow

firebase-admin
boto3
apispec
sadisplay

flask
flask-cors
flask-sqlalchemy
flask-admin
flask-limiter[redis]
flask-socketio

# We need to use Eventlet for the SocketIO support.
eventlet
# Gunicorn release on PyPI has a problem with recent version of Eventlet.
# Gunicorn uses Eventlet's ALREADY_HANDLED flag which were existed until 0.30.2,
# but it's removed on 0.30.3 as WS connections were not closed properly. (see eventlet/eventlet#543)
# It was fixed on benoitc/gunicorn#2581 by not using it, and it's merged, but it's not released on a PyPI.
# And also, On Eventlet 0.31.0, there was a security fix for the Websocket,
# (https://github.com/eventlet/eventlet/security/advisories/GHSA-9p9m-jm8w-94p2)
# so I couldn't downgrade Eventlet to 0.30.2.
# so we need to install Gunicorn from the latest source.
# TODO: Change this to `gunicorn` to use PyPI when there's a new Gunicorn release newer than 20.1.0.
https://github.com/benoitc/gunicorn/archive/933b210f2eff943f4cd9502c676f3d93c82f171c.zip#egg=gunicorn==20.1.0

pylint
pylint-flask
pylint-flask-sqlalchemy
flake8
